<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="assets/css/PageStructure.css" />
		<link rel="stylesheet" href="assets/css/Dashboard.css" />
		<script src="assets/js/config.js.php"></script>
		<script src="assets/js/Utilities.js"></script>
	</head>
	<body>
		<div id="AdminDashboardHeader" class="section Header HeaderTitle">
			<span>Admin</span>
			<span>Dashboard</span>
		</div>
		<div class="section Body">
			<div id="AdminDashboardBody">
				<div id="AdminDashboardToggler">
					<div id="FoodItemToggle" class="active">Food Items</div>
					<div id="FoodCategoryToggle" class="">Food Category</div>
				</div>
				<div id="FoodItemSection" class="section-2">
					<div id="AddFoodItemSection">
						<div class="AdminDashboardTitle" id="AddFoodItemSectionTitle">
							Add Food Item
						</div>
						<form id="AddFoodItemForm">
							<input
								type="text"
								name="FoodName"
								id="FoodName"
								placeholder="Name"
							/>
							<select
								name="FoodCategory"
								id="FoodCategory"
								placeholder="Category"
							>
								<optgroup>
									<option selected>Choose a Category</option>
								</optgroup>
							</select>

							<textarea
								name="FoodDescription"
								id="FoodDescription"
								placeholder="Description"
							></textarea>

							<label for="FoodImage" id="FoodImageContainer">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="48"
									height="48"
									viewBox="0 0 24 24"
									fill="none"
									stroke="#fdba74"
									stroke-width="1.5"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="icon icon-tabler icons-tabler-outline icon-tabler-camera"
								>
									<path stroke="none" d="M0 0h24v24H0z" fill="none" />
									<path
										d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2"
									/>
									<path d="M9 13a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
								</svg>
								
							</label>
							<input type="file" name="FoodImage" id="FoodImage" accept="image/*"/>
							<div id="PricePrepTimeContainer">
								<input
									type="number"
									name="FoodPrice"
									id="FoodPrice"
									placeholder="Price"
								/>

								<input
									type="number"
									name="FoodPreparationTime"
									id="FoodPreparationTime"
									placeholder="Preparation Time"
								/>
							</div>
							<div id="FormBtnGrp">
								<button id="CancelFoodItem" type="reset">Cancel</button>
								<button id="CreateFoodItem" type="submit">Add Item</button>
							</div>
						</form>
					</div>
					<div id="EditFoodItemSection">
						<div class="AdminDashboardTitle" id="EditFoodItemSectionTitle">
							Edit Food Item
						</div>
						<div id="EditFoodItemSectionItems">
							<div id="EditFoodItemCategoryContainer">
								<template id="EditFoodItemTemplate" class="hidden">
									<div id="EditFoodItem">
										<div id="EditFoodItemImage">
											<img
												src="https://imgs.search.brave.com/Vc_LT_XtikkAbIBPyfReLh-bKN4ZBGo6kAigj8UxNlI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9lMS5w/eGZ1ZWwuY29tL2Rl/c2t0b3Atd2FsbHBh/cGVyLzMyNS8zNjgv/ZGVza3RvcC13YWxs/cGFwZXItcGl6emEt/bWFyZ2hlcml0YS5q/cGc"
												alt=""
												class="ItemImage"
											/>
										</div>
										<div id="EditFoodItemTitle">Margeritta Pizza</div>
										<div id="EditFoodItemType">Non Veg</div>
										<div id="EditFoodItemDescription">
											Classic pizza with tomato sauce, mozzarella, and basil
										</div>
										<b id="EditFoodItemPrice">Price: <span>Rs 12.99</span></b>
										<div id="EditFoodItemPreparationTime">
											Prep Time: <span>10 mins</span>
										</div>
										<div id="EditFoodItemBtnGrp">
											<button id="EditFoodItemButton">
												<svg
													xmlns="http://www.w3.org/2000/svg"
													width="16"
													height="16"
													viewBox="0 0 24 24"
													fill="none"
													stroke="currentColor"
													stroke-width="2"
													stroke-linecap="round"
													stroke-linejoin="round"
													class="lucide lucide-pen w-4 h-4 mr-2"
												>
													<path
														d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"
													></path>
												</svg>
												Edit
											</button>
											<button id="DeleteFoodItemButton">
												<svg
													xmlns="http://www.w3.org/2000/svg"
													width="16"
													height="16"
													viewBox="0 0 24 24"
													fill="none"
													stroke="currentColor"
													stroke-width="2"
													stroke-linecap="round"
													stroke-linejoin="round"
													class="lucide lucide-trash2 w-4 h-4 mr-2"
												>
													<path d="M3 6h18"></path>
													<path
														d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"
													></path>
													<path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
													<line x1="10" x2="10" y1="11" y2="17"></line>
													<line x1="14" x2="14" y1="11" y2="17"></line>
												</svg>
												Delete
											</button>
										</div>
									</div>
								</template>
							</div>
						</div>
					</div>
				</div>
				<div id="FoodCategorySection" class="section-2 hidden">
					<div id="AddCategorySection">
						<div class="AdminDashboardTitle" id="AddCategorySectionTitle">
							Category Management
						</div>
						<form id="AddCategoryForm">
							<input
								type="text"
								name="CategoryName"
								id="CategoryName"
								placeholder="Name"
							/>
							<div id="FormBtnGrp">
								<button id="CreateCategory" type="submit">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus w-4 h-4 mr-2"><path d="M5 12h14"></path><path d="M12 5v14"></path></svg>
									Add</button>
							</div>
						</form>
					</div>
					<div id="EditCategorySection">
						<div id="EditCategorySectionItems">
							<template id="EditCategoryTemplate" class="hidden">
								<div id="EditCategory">
									<div id="EditCategoryTitle">Momo</div>
									<div id="EditCategoryBtnGrp">
										<button id="EditCategoryButton">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												viewBox="0 0 24 24"
												fill="none"
												stroke="currentColor"
												stroke-width="2"
												stroke-linecap="round"
												stroke-linejoin="round"
												class="lucide lucide-pen w-4 h-4 mr-2"
											>
												<path
													d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"
												></path>
											</svg>
										</button>
										<button id="DeleteCategoryButton">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												viewBox="0 0 24 24"
												fill="none"
												stroke="currentColor"
												stroke-width="2"
												stroke-linecap="round"
												stroke-linejoin="round"
												class="lucide lucide-trash2 w-4 h-4 mr-2"
											>
												<path d="M3 6h18"></path>
												<path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
												<path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
												<line x1="10" x2="10" y1="11" y2="17"></line>
												<line x1="14" x2="14" y1="11" y2="17"></line>
											</svg>
										</button>
									</div>
								</div>
							</template>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="assets/js/Dashboard.js"></script>
	</body>
</html>
