#AdminDashboardBody{
    background-color: white;
    border-radius: 10px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#AdminDashboardBody .section-2{
    padding: 1rem;
}

.AdminDashboardTitle {
    letter-spacing: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: #ea580c;
    line-height: 2rem;
    margin: 1rem 0;
}

#AdminDashboardToggler{
    display: flex;
    border-bottom: 1px solid #d3d3d352;
}

#AdminDashboardToggler div {
    flex: 1;
    text-align: center;
    padding:  1rem;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #ffffff;
    cursor: pointer;
}

#AdminDashboardToggler div:hover {
    background-color: #f0f0f0;
}

#AdminDashboardToggler .active {
    background-color: #FE724C;
    color: white;
    cursor: default;
}

#AdminDashboardToggler .active:hover {
    background-color: #FE724C;
}

#AddFoodItemForm{
    margin: 1rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#AddCategoryForm{
    margin: 1rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#AddCategoryForm #CategoryName{
    width: 100%;
}

#AddFoodItemForm input, #AddFoodItemForm select, #AddFoodItemForm textarea, #AddCategoryForm input{
    border-radius: 6px;
    padding: 8px;
    outline: none;
    border: 1px solid #fed7aa;
}

#AddFoodItemForm textarea{
    resize: none;
}

#FoodImageContainer {
    padding: 4rem 0;
    border: 2px dashed #fed7aa;
    border-radius: 10px;
    text-align: center;
}

#FoodImageContainer input[type="file"]{
    display: none;
}

#PricePrepTimeContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#FormBtnGrp{
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    font-size: 1rem;
}

button{
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

#FormBtnGrp #CreateFoodItem{
    background-color: #FE724C;
    color: white;
}

#FormBtnGrp #CreateCategory{
    padding: 0.6rem;
    background-color: #FE724C;
    color: white;
    gap: 5px;
}

#CancelFoodItem{
    outline: 1px solid #ff4625ab;
}

#EditFoodItemSectionItems{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

#EditCategorySectionItems{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#EditFoodItemCategoryContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#EditFoodItem, #EditCategory{
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid #fed7aa;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

#EditCategory{
    font-size: 1rem;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.7rem;
}

#EditFoodItem #EditFoodItemImage{
    position: relative;
}

#EditFoodItemImage img{
    width: 100%;
    max-width: 400px;
    min-width: 100px;
    object-fit: cover;
    border-radius: 10px;
}

#EditFoodItemTitle, #EditCategoryTitle{
    font-size: 1.2rem;
    font-weight: 600;
}

#EditCategoryTitle{
    font-size: 1.1rem;
    color: #f97316;
    display: block;
    align-content: center;
}

#EditFoodItemType{
    color: rgb(63, 63, 63);
    margin-top: -0.5rem;
}

#EditFoodItemBtnGrp, #EditCategoryBtnGrp{
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    font-weight: 500;
    line-height: 1.25rem;
}

#EditFoodItem #DeleteFoodItemButton, #EditCategory #DeleteCategoryButton{
    background-color: #ef4444;
    color: white;
    border: none;
    padding: 0.5rem 0.9rem;
    border-radius: 6px;
    cursor: pointer;
}

#EditFoodItem #EditFoodItemButton, #EditCategory #EditCategoryButton{
    background-color: white;
    border: 1px solid #e4e4e7;
    padding: 0.5rem 0.9rem;
    border-radius: 6px;
    cursor: pointer;
}

#EditFoodItemCategory{
    font-size: 1.4rem;
    margin: 0.5rem 0;
    font-weight: 600;
    color: #f97316;
}