#OrderMonitorHeader #DayRevenue {
	color: white;
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 1px;
}

#OrderMonitorBody {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#OrderMonitorBody #OrderContainer {
	background-color: white;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.411);
	padding: 1rem;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
}
#OrderContainer #OrderDetails {
	display: flex;
	justify-content: space-between;
	font-size: 0.9rem;
	font-weight: 400;
}

#OrderDetails > div {
	display: flex;
	align-items: center;
	gap: 0.6rem;
}

#OrderDetails #OrderNumber,
#OrderItemName,
#OrderItemPrice {
	font-weight: 700;
	font-size: 1rem;
}

#OrderContainer #OrderItemsList #OrderItem {
	display: flex;
	flex-direction: column;
	gap: 9px;
	padding: 0.6rem 0;
	border-bottom: 2px solid #d8d8d8;
}

#OrderContainer #OrderItemsList #OrderItem:last-child {
	border-bottom: none;
    padding-bottom: 0;
}

#OrderItem #OrderItemHeader,
#OrderItem #OrderItemFooter, #OrderItem #OrderItemMid {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#OrderItem #OrderItemStatusDropdown {
	padding: 0.3rem 0.5rem;
	border-radius: 5px;
	border: 1px solid #d3d3d3;
}

#OrderItem #OrderItemQuantity {
	font-weight: 600;
    font-size: 0.9rem;
}

#OrderItemFooter #OrderItemNote {
	font-size: 0.85rem;
	font-weight: 500;
	color: #3ebb7c;
}

#OrderStatusFooter #ActiveOrders {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    font-weight: 600;
} 

#ActiveOrders #ActiveOrdersCount {
    color: #fe724c;
}