@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
	font-family: "Inter", sans-serif;
}
body {
    position: relative;
	color: black;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100vh;
	background-color: #f3f3f3;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.hidden{
	display: none;
}

.Header {
	background-color: #fe724c;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5px;
	align-items: center;
	padding: 1rem;
}

.Body {
	flex-grow: 1;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.Footer {
	position: sticky;
	bottom: 0;
	padding: 20px;
	background-color: #ffffff;
	border-top: 1px solid #d4d4d4;
    
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Frequently used styles */

.HeaderTitle {
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 1px;
}

.ItemImage{
	object-fit: cover;
	border-radius: 5px;
}

.OrderStatusDesign{
	font-size: 0.8rem;
    font-weight: 600;
    color: #dfa32c;
    background-color: #fff9b1;
    width: 10ch;
	height: max-content;
    padding: 5px 10px;
    border-radius: 15px;
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
	text-wrap: no-wrap;
}

.OrderStatus-InQueue{
	color: #dfa32c;
	background-color: #FEF9C3;
}

.OrderStatus-Preparing{
	color: #1e40af;
	background-color: #bfdbfe;
}

.OrderStatus-Ready{
	color: #166534;
	background-color: #bbf7d0;
}

.OrderStatus-Completed{
	color: #4b5563;
	background-color: #e2e8f0;
}

.OrderStatus-Cancelled {
	color: #991b1b;
	background-color: #f9c3c3;
}

.ItemFooter {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.ItemQuantity {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 5px;
	font-size: 0.9rem;
	font-weight: 600;
}

.ItemQuantity span{
	width: 2ch;
    text-align: center;
}

.ItemPrice {
	font-size: 1.2rem;
	font-weight: 600;
	color: #fe724c;
}

.EstimatedTimeContainer{
	font-weight: 500;
}

.EstimatedTimeContainer .EstimatedTime{
    color: #fe724c;
    font-weight: 700;
}

.DefaultOrderButton button{
	display: flex;
	gap: 5px;
	align-items: center;
	background-color: #fe724c;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 13px 19px;
	font-size: 1rem;
	letter-spacing: 0.5px;
	font-weight: 500;
	cursor: pointer;
}

.noInteractions{
	pointer-events: none;
    user-select: none;
}
