#searchBoxContainer {
	width: 100%;
}

#searchBoxContainer > form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.7rem 1rem;


	padding: 2px 10px;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
}

#searchBoxContainer > form > input {
	width: 100%;
	padding: 5px 10px;
	font-size: 1rem;
	border: none;
}

#searchBoxContainer > form > input:focus {
	border: none;
	outline: none;
}

#foodCategoryList {
	display: flex;
	gap: 1rem;
	overflow-x: auto;

	/* Hide scrollbar for IE and Edge */
	-ms-overflow-style: none;

	/* Hide scrollbar for Firefox */
	scrollbar-width: none;
	max-width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#foodCategoryList::-webkit-scrollbar {
	display: none;
}

#foodCategoryList > #foodCategory {
	white-space: nowrap;
	font-size: 0.9rem;
	padding: 5px 13px;
	border: none;
	border-radius: 12px;
	background-color: #ffffff;
	color: #545f71;
	font-weight: 600;
	cursor: pointer;
}

#MenuItemList{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#MenuItemList #MenuItem {
	margin: 0 1rem;
	padding: 20px 0;
	min-height: 8rem;
	border-radius: 5px;
	background-color: #ffffff;

	display: flex;
	gap: 10px;
}

#MenuItem > #MenuItemImage {
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

#MenuItem > #MenuItemImage > div {
	font-size: 0.9rem;
	display: flex;
	align-items: center;
	gap: 2px;
	color: #fe724c;
}

#MenuItem > #MenuItemDetails {
	width: 100%;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#MenuItem > #MenuItemDetails > #MenuItemTitle {
	display: flex;
	justify-content: space-between;
}

#MenuItemDetails > #MenuItemTitle > #MenuItemName {
	font-size: 1.2rem;
	font-weight: 600;
}

#MenuItemDetails > #MenuItemTitle > #MenuItemRating {
	font-size: 0.9rem;
	display: flex;
	align-items: center;
	gap: 5px;
}

#MenuItemDetails #MenuItemDuration {
	display: flex;
	align-items: center;
	gap: 3px;
	font-size: 0.9rem;
}

#OrderOverview {
	gap: 1rem;
}

#OrderDetails {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	font-size: 1rem;
	font-weight: 500;
}

#OrderDetails > #OrderCostBlock > #OrderCost {
	color: #fe724c;
	font-size: 1.2rem;
	margin-inline-start: 5px;
}

#OrderDetails > #OrderTimeBlock  {
	display: flex;
	align-items: center;
	gap: 5px;
}